* { margin:0;padding:0; }
html{ width:100%; height:100%; background:#f2f2f2;}
body{ width:100%; font:12px arial, sans-serif }
a{border:none; outline:none;}
ul{list-style:none;}
.hide{display:none;}

div#wheader,
div#wcontent,
div#wfooter{ width:100%; float:left; }
h2{ display:block; padding:0 0 0 10px; border-bottom:1px solid #4B255E; color:#4B255E; font:bold 20px arial, sans-serif;}
p.pquiz { padding:15px; margin-bottom:40px;}

/*HEADER*/
div#wheader{ height:124px; background:#fff url(../imgs/bg_topo.png) top center no-repeat; }
div#header{ width:960px; height:100%; margin:0 auto; }
div#header h1{ width:226px; height:124px; display:block; float:left; position:relative; background:url(../imgs/home.gif) 0 0 no-repeat; text-indent: -9999em; }
div#header ul{ width:720px; height:124px; list-style:none; float:right; position:relative;}
div#header ul li{ height:124px; display:block; float:left; }
div#header ul li#equipes{ width:80px; }
div#header ul li#competicoes{ width:104px; }
div#header ul li#muro { width:96px; }
div#header ul li#retrospectiva { width:104px; }
div#header ul li#regulamento { width:114px; }
div#header ul li#calendario { width:100px; }
div#header ul li#mapa { width:90px; }
div#header ul li a { width:100% ; height:124px; display:block; float:left; color:#FFCD3F; font:bold 12px arial, sans-serif; text-decoration:none;}
div#header ul li a:hover,div#header ul li.active a { background:#FFCD3F; height:124px; color:#382A74;}
div#header ul li a div.border{ width:100%; height:85px; display:block; float:left; position:relative; margin:10px 0 10px; border-right:1px solid #58595B;  }
div#header ul li a div.border div.align{ position:absolute; padding:0 13px 0; bottom:30px; left:0; }
/*endHEADER*/

/*CONTENT*/
div#wcontent { background:#fff; }
div#content{ width:960px; margin:0 auto; padding:14px 0 0; background:#fff; }
div#content2{ width:960px; margin:0 auto; background:#fff; }
/*endCONTENT*/

/*FOOTER*/
div#wfooter{ clear:both; border-top:solid 4px #4B255E; }
div#footer{ width:960px; min-height:100px; margin:0 auto; padding:5px 0 0; font:10px arial, sans-serif; text-align:center; }
/*endFOOTER*/

/*HOME*/
body#home div#layer{width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:2000;}
body#home div#layer #overlay_layer{width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:2001; background:#FFFFFF; Filter: Alpha(Opacity=80); -moz-opacity: 0.8; opacity:0.80;}
body#home div#layer #video{width:590px; height:478px; margin:20px 0 0 -295px; position:absolute; top:0%; left:50%; z-index:2001;}

body#home div#content{ height:541px;}
body#home div#content div.box{width:377px; height:455px; float:right; margin:0 25px 0 0; font:14px arial, sans-serif;}
body#home div#content div.boxesquerda{width:480px; height:455px; float:left; margin:0 25px 0 0; font:14px arial, sans-serif;}
body#home div#content div.box p{width:370px; float:left; margin:0 0 3px 10px; font:14px arial,sans-serif;}
body#home div#content div.box a#timao{width:180px; height:60px; float:left; margin:0px 0px 0px 5px; background:url(../imgs/banner_timao.jpg); text-indent:-9999em;}
body#home div#content div.box a#inscrever-equipe{width:186px; height:60px; float:left; margin:0px -3px 5px 0px; background:url(../imgs/btn_cadastra_time.jpg); text-indent:-9999em;}
body#home div#content div.box a#inscrever-equipe-encerrado{width:390px; height:60px; float:left; margin:0px -3px 5px 0px; background:url(../imgs/btn_encerradas.jpg); text-indent:-9999em;}
body#home div#content div.box a#termometro{width:186px; height:60px; float:right; margin:0px 3px 5px 0px; background:url(../imgs/btn_termometro.jpg); text-indent:-9999em;}
body#home div#content div.box a#simulated-test{width:186px; height:60px; float:left; margin:0 0 0; background:url(../imgs/btn_simulados.jpg); text-indent:-9999em;}
body#home div#content div.box a#classificado{width:186px; height:60px; float:right; margin:0 0 0; background:url(../imgs/btn_classificados.jpg); text-indent:-9999em;}
body#home div#content div.box a#quiz{width:186px; height:60px; float:left; margin-top:5px; background:url(../imgs/btn_quiz.jpg); text-indent:-9999em;}
body#home div#content div.box div.redes{width:180px; height:60px; font-size:11px; float:left; margin-left:8px;}
body#home div#content div.box div.redes img{ margin-left:-4px; border:0;}
body#home div#content2 { height:530px; height:210px;}
body#home div#content2 div.noticias{width:620px; height:187px; float:left; bgcolor:#FFF; border:2px solid #4B255E; display:block; margin-right:10px; }
body#home div#content2 div.noticias img { margin-left:-10px; margin-top:-10px;}
body#home div#content2 div.noticias p{margin:0; font:14px arial,sans-serif;}
body#home div#content2 div.quiz{width:284px; height:156px; float:left; background-color:#5D2F78; border:2px solid #5D2F78; display:block; margin-right:10px; padding:10px;}
body#home div#content2 div.quiz p{margin:0; font:14px arial,sans-serif; color:#fff;}
body#home div#content2 div.quiz p.ppergunta{width:270px; height:50px; overflow:hidden; font-size:12px; line-height:12px;}
body#home div#content2 div.quiz p.presposta{width:270px; height:50px; overflow:hidden; font-size:12px; line-height:12px;}
body#home div#content2 div.quiz p.presposta_result{width:270px; height:50px; background-color:#FFF; text-align:center; color:#000;}
body#home div#content2 div.quiz a { font-size:12px; color:#FFF;}
body#home div#content2 div.figurinhas{width:304px; height:176px; float:left; bgcolor:#FFF; border:2px solid #4B255E; display:block; margin-right:10px;}
body#home div#content2 div.figurinhas div#foto { width:150px; height:176px; background-color:#523275; display:block; float:left;}
body#home div#content2 div.figurinhas div#foto p{ font-size:12px; color:#FFF; text-align:center; overflow:hidden; width:140px; height:14px}
body#home div#content2 div.figurinhas div#foto div.pessoa {width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto img {width:114px; height:136px; margin-left:15px}
body#home div#content2 div.figurinhas div#foto div.cara1 {background:url(../imgs/cara1_thumb.png); margin-left:10px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto div.cara2 {background:url(../imgs/cara2_thumb.png); margin-left:15px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto div.cara3 {background:url(../imgs/cara3_thumb.png); margin-left:15px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto div.cara4 {background:url(../imgs/cara4_thumb.png); margin-left:15px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto div.cara5 {background:url(../imgs/cara5_thumb.png); margin-left:15px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto div.cara6 {background:url(../imgs/cara6_thumb.png); margin-left:15px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#foto div.cara7 {background:url(../imgs/cara7_thumb.png); margin-left:15px; width:114px; height:136px; display:inline; position:absolute;}
body#home div#content2 div.figurinhas div#figurinhasright { width:150px; height:178px; margin-right:3px; margin-top:-150px; display:block; float:right;}
body#home div#content2 div.figurinhas div#album-home{ width:116px; height: 176px; display: block;background-color:#5D2F78;}
body#home div#content2 div.twitter{width:300px; height:180px; float:left; background-color:#4B255E; display:block;}
body#home div#content2 div.muro{width:304px; height:187px; float:left; bgcolor:#FFF; border:2px solid #4B255E; display:block; margin-right:10px;}
body#home div#content2 div.muro p{ font-size:12px; line-height:12px; margin-left:10px;}
body#home div#content2 div.muro a { font-size:12px; color:#000;}
body#home div#content2 div.muro div#muro-conteudo { width:304px; height:103px; background-color:#F6F3FA; overflow-y:auto;}
body#home div#content2 div.muro div#muro-btn { width: 304px; height:20px; float:left;}
body#home div#content2 div.muro div#muro-btn a { width: 304px; height:20px; float:left; background:url(../imgs/btn_deixe_seu_recado.jpg); text-indent:-9999em;}
body#home div#content2 div.classificados {width:304px; height:176px; float:left; bgcolor:#5D2F78; border:2px solid #5D2F78; display:block; margin-right:10px; overflow:auto;}
body#home div#content2 div.classificados div.color{background:#755B91; margin-left: 10px;}
body#home div#content2 div.classificados div.grid_2{width:278px; float:left; margin-top:10px;}
body#home div#content2 div.calendario {width:304px; height:187px; float:left; bgcolor:#FFF; border:2px solid #4B255E; display:block; margin-right:10px;}
body#home div#content2 div.calendario p{ font-size:12px; line-height:12px; margin-left:10px;}
body#home div#content2 div.calendario div#calendario-conteudo { width:304px; height:171px; background-color:#F6F3FA; overflow-y:auto;}



/*endHOME*/

/*INSCREVERTIME*/
body#subscribe div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#subscribe div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#subscribe div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#subscribe div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
body#subscribe div#content form{width:440px; display:block; background:#311E46; color:#fff;}
body#subscribe div#content form fieldset{display:block; border:none; padding:10px;}
body#subscribe div#content form fieldset legend{display:none;}
body#subscribe div#content form fieldset label{ width:100%; display:block; margin:5px 0; float:left; font:12px arial,sans-serif;}
body#subscribe div#content form fieldset select{ width:400px; display:block; float:left; border:none; color:#000; font:14px arial,sans-serif;}
body#subscribe div#content form fieldset input.text{ width:100%; height:30px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#subscribe div#content form fieldset textarea.textarea{ width:100%; height:100px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#subscribe div#content form fieldset input.submit{ width:100px; height:30px; display:block; float:right; margin:10px 0 0 0; background:#523275; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}
/*endINSCREVERTIME*/


/*Insrcever coordenador*/
body#subscribe-coordenador div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#subscribe-coordenador div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#subscribe-coordenador div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#subscribe-coordenador div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
body#subscribe-coordenador div#content form{width:440px; display:block; background:#311E46; color:#fff;}
body#subscribe-coordenador div#content form fieldset{display:block; border:none; padding:10px;}
body#subscribe-coordenador div#content form fieldset legend{display:none;}
body#subscribe-coordenador div#content form fieldset label{ width:100%; display:block; margin:5px 0; float:left; font:12px arial,sans-serif;}
body#subscribe-coordenador div#content form fieldset select{ width:400px; display:block; float:left; border:none; color:#000; font:14px arial,sans-serif;}
body#subscribe-coordenador div#content form fieldset input.text{ width:100%; height:30px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#subscribe-coordenador div#content form fieldset textarea.textarea{ width:100%; height:100px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#subscribe-coordenador div#content form fieldset input.submit{ width:100px; height:30px; display:block; float:right; margin:10px 0 0 0; background:#523275; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}
/*endCoordenador*/

/*Insrcever capitao*/
body#subscribe-capitao div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#subscribe-capitao div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#subscribe-capitao div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#subscribe-capitao div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
body#subscribe-capitao div#content form{width:440px; display:block; background:#311E46; color:#fff;}
body#subscribe-capitao div#content form fieldset{display:block; border:none; padding:10px;}
body#subscribe-capitao div#content form fieldset legend{display:none;}
body#subscribe-capitao div#content form fieldset label{ width:100%; display:block; margin:5px 0; float:left; font:12px arial,sans-serif;}
body#subscribe-capitao div#content form fieldset select{ width:400px; display:block; float:left; border:none; color:#000; font:14px arial,sans-serif;}
body#subscribe-capitao div#content form fieldset input.text{ width:100%; height:30px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#subscribe-capitao div#content form fieldset textarea.textarea{ width:100%; height:100px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#subscribe-capitao div#content form fieldset input.submit{ width:100px; height:30px; display:block; float:right; margin:10px 0 0 0; background:#523275; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}
/*endcapitao*/

/*Insrcever nome fantasia*/
body#entrar div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#entrar div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#entrar div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#entrar div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
body#entrar div#content form{width:440px; display:block; background:#311E46; color:#fff;}
body#entrar div#content form fieldset{display:block; border:none; padding:10px;}
body#entrar div#content form fieldset legend{display:none;}
body#entrar div#content form fieldset label{ width:100%; display:block; margin:5px 0; float:left; font:12px arial,sans-serif;}
body#entrar div#content form fieldset select{ width:400px; display:block; float:left; border:none; color:#000; font:14px arial,sans-serif;}
body#entrar div#content form fieldset input.text{ width:100%; height:30px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#entrar div#content form fieldset textarea.textarea{ width:100%; height:100px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#entrar div#content form fieldset input.submit{ width:100px; height:30px; display:block; float:right; margin:10px 0 0 0; background:#523275; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}
/*endNomefantasia*/


/*MURO DE PICHAÇÕES*/
body#muro div#content { height:800px;}
body#muro div#content div.colleft{float:left; display:block; width:460px}
body#muro div#content div.colright{float:right; display:block; width:460px}
/*MURO DE PICHAÇÕES*/

/*COMPETICOES*/
body#competicoes div#content { height:700px;}
body#competicoes div#content div.centro { width:960px; height:430px; float:left; margin-left:180px;}
body#competicoes div#content div#esquerda { width:470px; float:left; margin:14px 0 0 14px;}
body#competicoes div#content div#direita { width:470px; float:right; margin:14px 0 0 0;}
/*COMPETICOES*/

/*mapa*/
body#mapa div#content div#esquerda { width:470px; float:left; margin:14px 0 0 14px;}
body#mapa div#content div#direita { width:470px; float:right; margin:14px 0 0 0;}
body#mapa div#content div#esquerdafull { width:940px; float:right; margin:14px 0 0 0;}
/*mapa*/

/*TIMESCADASTRADOS*/
body#teams div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#teams div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#teams div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#teams div#content div.colright{width:460px; float:right; margin:20px 0 10px; background:#EDEAF1;}
body#teams div#content div#accordion{display:block; float:left; margin:20px;}
body#teams div#content div#accordion h3{display:block; font:bold 12px arial, sans-serif; color:#523275; margin-top:10px;}
body#teams div#content div#accordion div.pontos{background:url(../imgs/bg_pontos.jpg); width:400px; height:15px;}
body#teams div#content div#accordion div.barra{background-color:#533374; color:#FFF; height:11px; padding:2px; margin-left:8px; text-align:right;}
body#teams div#content div#accordion div{display:block; width:100%;}
body#teams div#content div#accordion div ul{}
body#teams div#content div#accordion div ul li{float:left;}
body#teams div#content div#accordion div ul li .capt{width:16px; height:16px; display:block; float:left; margin-right:5px;}
body#teams div#content div#accordion div ul li .capt.is{background:url(../imgs/sprite.png)-488px 2px no-repeat;}
body#teams div#content div#accordion div ul li .col{width:190px; height:16px; display:block; float:left; margin-right:5px; overflow:hidden;}
/*endTIMESCADASTRADOS*/

/*REGULAMENTO*/
body#terms div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#terms div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#terms div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
/*endREGULAMENTO*/

/*ALBUM*/
body#album div#content div.time { height:490px}
body#album div#content a.imprimir { float:right; font-size:12px; color:#523275;}
body#album div#content h3 { display:block; padding:0 0 0 10px; border-bottom:1px solid #C2B7CF; margin-top:20px; color:#311E46; font:bold 20px arial, sans-serif;}
body#album div#content div.foto { width:140px; height:200px; background-color:#523275; padding:5px; margin-top:20px; margin-right:20px; display:block; float:left;}
body#album div#content div.foto p{ font-size:12px; color:#FFF; text-align:center; overflow:hidden; width:140px; height:12px}
body#album div#content div.foto-time { width:480px; height:200px; background-color:#523275; margin-top:20px; margin-right:20px; padding:5px; display:block; float:left;}
body#album div#content div.foto-time p { font-size:12px; color:#FFF; text-align:left; width:200px; padding:10px; margin-top:28px;}
body#album div#content div.foto-time a { font-size:12px; color:#FFF;}
body#album div#content div.foto-time img { float:right;}
body#album div#content div.foto-time p.timeimg { float:right; margin-top:-10px; margin-right:-11px;}
body#album div#content div.foto div.pessoa {width:140px; height:170px; display:block;}
body#album div#content div.foto div.cara1 {background:url(../imgs/cara1.png); width:140px; height:170px; display:inline; position:absolute;}
body#album div#content div.foto div.cara2 {background:url(../imgs/cara2.png); width:140px; height:170px; display:inline; position:absolute;}
body#album div#content div.foto div.cara3 {background:url(../imgs/cara3.png); width:140px; height:170px; display:inline; position:absolute;}
body#album div#content div.foto div.cara4 {background:url(../imgs/cara4.png); width:140px; height:170px; display:inline; position:absolute;}
body#album div#content div.foto div.cara5 {background:url(../imgs/cara5.png); width:140px; height:170px; display:inline; position:absolute;}
body#album div#content div.foto div.cara6 {background:url(../imgs/cara6.png); width:140px; height:170px; display:inline; position:absolute;}
body#album div#content div.foto div.cara7 {background:url(../imgs/cara7.png); width:140px; height:170px; display:inline; position:absolute;}
/*endALBUM*/

/*IMPRIMIR*/
body#imprimir div#content div.time { height:490px}
body#imprimir div#content h3 { display:block; padding:0 0 0 10px; border-bottom:1px solid #C2B7CF; margin-top:20px; color:#311E46; font:bold 20px arial, sans-serif;}
body#imprimir div#content div.foto { width:140px; height:200px; background-color:#523275; padding:5px; margin-top:20px; margin-right:20px; display:block; float:left;}
body#imprimir div#content div.foto p{ font-size:12px; color:#FFF; text-align:center; overflow:hidden; width:140px; height:12px}
body#imprimir div#content div.foto div.pessoa {width:140px; height:170px; display:block;}
body#imprimir div#content div.foto div.cara1 {background:url(../imgs/cara1.png); width:140px; height:170px; display:inline; position:absolute;}
body#imprimir div#content div.foto div.cara2 {background:url(../imgs/cara2.png); width:140px; height:170px; display:inline; position:absolute;}
body#imprimir div#content div.foto div.cara3 {background:url(../imgs/cara3.png); width:140px; height:170px; display:inline; position:absolute;}
body#imprimir div#content div.foto div.cara4 {background:url(../imgs/cara4.png); width:140px; height:170px; display:inline; position:absolute;}
body#imprimir div#content div.foto div.cara5 {background:url(../imgs/cara5.png); width:140px; height:170px; display:inline; position:absolute;}
body#imprimir div#content div.foto div.cara6 {background:url(../imgs/cara6.png); width:140px; height:170px; display:inline; position:absolute;}
body#imprimir div#content div.foto div.cara7 {background:url(../imgs/cara7.png); width:140px; height:170px; display:inline; position:absolute;}
/*endIMPRIMIR*/


/*cadastrafigurinha*/
body#cadastrar-figurinha div#content div.foto { width:140px; height:200px; background-color:#523275; padding:5px; margin-top:20px; margin-right:20px; display:block; float:left;}
body#cadastrar-figurinha div#content div.foto p{ font-size:12px; color:#FFF; text-align:center; overflow:hidden; width:140px; height:12px}
body#cadastrar-figurinha div#content div.foto div.pessoa {width:140px; height:170px; display:block;}
body#cadastrar-figurinha div#content div.preview {clear: both;}
body#cadastrar-figurinha div#content div.option { width:100px; height:135px; display:block; position:relative; margin-top:20px; margin-right:10px; float: left;}
body#cadastrar-figurinha div#content div.option img { width:100px; height:135px; display:block; position:relative; float: left;}
body#cadastrar-figurinha div#content div.option input{margin-top:10px; margin-left:30px;}
body#cadastrar-figurinha div#content p.envia { float:left; width:380px; margin-top:30px; margin-bottom:50px;}
body#cadastrar-figurinha div#content label { margin-top:200px;}
body#cadastrar-figurinha div#content input.submit{ width:100px; height:30px; float:left; background:#523275; margin-top:10px; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}
body#cadastrar-figurinha div#content div.cara1 {background:url(../imgs/cara1.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.cara2 {background:url(../imgs/cara2.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.cara3 {background:url(../imgs/cara3.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.cara4 {background:url(../imgs/cara4.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.cara5 {background:url(../imgs/cara5.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.cara6 {background:url(../imgs/cara6.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.cara7 {background:url(../imgs/cara7.png); width:140px; height:170px; display:inline; position:absolute;}
body#cadastrar-figurinha div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#cadastrar-figurinha div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#cadastrar-figurinha div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#cadastrar-figurinha div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
body#cadastrar-figurinha div#content form#newteam {width:440px; display:block; background:#311E46; color:#fff;}
body#cadastrar-figurinha div#content form#newteam fieldset{display:block; border:none; padding:10px;}
body#cadastrar-figurinha div#content form#newteam fieldset legend{display:none;}
body#cadastrar-figurinha div#content form#newteam fieldset label{ width:100%; display:block; margin:5px 0; float:left; font:12px arial,sans-serif; text-align:center;}
body#cadastrar-figurinha div#content form#newteam fieldset input.text{ width:100%; height:30px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#cadastrar-figurinha div#content form#newteam fieldset input.submit{ width:100px; height:30px; display:block; float:right; margin:10px 0 0 0; background:#523275; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}

/*endcadastrafigurinha*/

/*CONTATO*/
body#contact div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#contact div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#contact div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#contact div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
body#contact div#content form{width:440px; display:block; background:#311E46; color:#fff;}
body#contact div#content form fieldset{display:block; border:none; padding:10px;}
body#contact div#content form fieldset legend{display:none;}
body#contact div#content form fieldset label{ width:100%; display:block; margin:5px 0; float:left; font:12px arial,sans-serif;}
body#contact div#content form fieldset select{ width:400px; display:block; float:left; border:none; color:#000; font:14px arial,sans-serif;}
body#contact div#content form fieldset input.text{ width:100%; height:30px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#contact div#content form fieldset textarea.textarea{ width:100%; height:100px; display:block; float:left; margin:0px; border:none; color:#000; font:14px arial,sans-serif; text-align:center;}
body#contact div#content form fieldset input.submit{ width:100px; height:30px; display:block; float:right; margin:10px 0 0 0; background:#523275; border:none; color:#fff; font:bold 14px arial,sans-serif; text-align:center;}
/*endCONTATO*/

/*CALENDARIO*/
body#calendar div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#calendar div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#calendar div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#calendar div#content div.colright{width:460px; height:350px; float:right; margin:20px 0 10px;}
body#calendar div#content div.colright ul{width:120px; float:left;}
body#calendar div#content div.colright ul li{width:100px; display:block; float:left; padding:20px 10px 0; background:#4B255E; color:#fff}
body#calendar div#content div.colright ul li ul{width:460px; display:block; float:left; margin:20px 0 0 -10px; padding:10px; background:#fff; border-left:2px solid #4B255E;}
body#calendar div#content div.colright ul li ul li{width:460px; display:block; float:left; margin:0px; padding:0px; background:#fff; color:#000;}
/*endCALENDARIO*/

/*COMPETICOES*/
body#competicoes div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#competicoes div#content div.colright{width:460px; height:350px; float:right; margin:20px 0 10px;}
/*COMPETICOES*/

/*EQUIPES*/
body#equipes div#content div.colleft{width:50%; float:left; margin:20px 0 10px;}
body#equipes div#content div.collfet div.bunda {width:50%; float:left; background-color:#00C;}
body#equipes div#content div.collfet div.7m h3{display:block; padding:0 0 0 10px; border-bottom:1px solid #4B255E; color:#4B255E; font:bold 20px arial, sans-serif;}
body#equipes div#content div.collfet div.7m h4{display:block; padding:0 0 0 10px; border-bottom:1px solid #4B255E; color:#4B255E; font:bold 20px arial, sans-serif;}
body#equipes div#content div.colleft p{display:block; float:left; margin:0 10px 10px;}
body#equipes div#content div.colleft img{display:block; float:left; margin:0 0 0 -20px;}
body#equipes div#content div.colright{width:460px; float:right; margin:20px 0 10px;}
/*endEQUIPES*/


body#gazeta a { font-size:12px; color:#000;}
body#visuartigo p { width:720px;}
body#visuartigo a { font-size:12px; color:#000;}

/*CLEARFIX*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* endCLEARFIX*/